<template>
    <div class="tz-modal" v-if="visible">
        <div class="tz-modal-content-wrapper">
            <div class="tz-modal-content">
                <h3>Register</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" v-model="name" autofocus />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" v-model="password" />
                </div>
                <br />
                <div class="form-group">
                    <button class="form-control btn btn-success" v-on:click="register()">Register</button>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-default" v-on:click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>    
</template>

<style src="../../css/dialog.css" ></style>
<script src="./registerdialog.ts"></script>
