<template>
    <div class="login-panel">
        <div v-if="loggedin" class="table">
            <label>{{ userName }}</label>
            <button  class="btn btn-danger" @click="logout()">Log out</button>
            </div>
        <div v-else>
            <button class="btn btn-success" @click="showLoginDialog()">Log in</button>
            <button class="btn btn-primary" @click="showRegisterDialog()" >Register</button>
        </div>
</div>
</template>

<style src="./loginpanel.css"></style>
<script src="./loginpanel.ts"></script>
